<h1>Scotland Yard Online</h1>

<ul class="buttons">
  <li>
    <h3 (click)="toggleCollapse('join')">
      <span class="collapse-arrow" [ngClass]="{collapsed: collapsed.join}"></span>
      <span>ゲームに参加</span>
    </h3>
    <div class="form-wrapper" *ngIf="!collapsed.join" [@collapse]>
      <form #joinForm="ngForm" (ngSubmit)="onJoin(joinForm)" novalidate>
        <ul>
          <li>
            <label>
              <span>なまえ</span>
              <input type="text" name="name" [(ngModel)]="hoge" required>
            </label>
          </li>
          <li>
            <label>
              <span>IP(:port)</span>
              <input type="text" name="address" ngModel required>
            </label>
          </li>
          <li>
            <button type="submit" class="block">GO</button>
          </li>
        </ul>
      </form>
    </div>
  </li>

  <li>
    <h3 (click)="toggleCollapse('host')">
      <span class="collapse-arrow" [ngClass]="{collapsed: collapsed.host}"></span>
      <span>ゲームをホスト</span>
    </h3>
    <div class="form-wrapper" *ngIf="!collapsed.host" [@collapse]>
      <form #hostForm="ngForm" (ngSubmit)="onHost(hostForm)" novalidate>
        <ul>
          <li>
            <label>
              <span>なまえ</span>
              <input type="text" name="name" [(ngModel)]="hoge" required>
            </label>
          </li>
          <li>
            <label>
              <span>port</span>
              <input type="number" name="port" ngModel placeholder="default: {{defaultServerPort}}">
            </label>
          </li>
          <li>
            <button type="submit" class="block">GO</button>
          </li>
        </ul>
      </form>
    </div>
  </li>
</ul>
