<h1>Scotland Yard Online</h1>

<ul>
  <li>
    <h3 (click)="toggleCollapse('join')">
      <span class="collapse-arrow" [ngClass]="{collapsed: collapsed.join}"></span>
      <span>ゲームに参加</span>
    </h3>
    <div class="formwrapper" *ngIf="!collapsed.join" [@collapse]>
      <form #joinForm="ngForm" (ngSubmit)="onJoin(joinForm)" novalidate>
        <div>
          <label>なまえ</label>
          <input type="text" name="name" [(ngModel)]="hoge" required>
        </div>
        <div>
          <label>IP:(port)</label>
          <input type="text" name="address" ngModel required>
          <button type="submit">GO</button>
        </div>
      </form>
    </div>
  </li>

  <li>
    <h3 (click)="toggleCollapse('host')">
      <span class="collapse-arrow" [ngClass]="{collapsed: collapsed.host}"></span>
      <span>ゲームをホスト</span>
    </h3>
    <div class="formwrapper" *ngIf="!collapsed.host" [@collapse]>
      <form #hostForm="ngForm" (ngSubmit)="onHost(hostForm)" novalidate>
        <div>
          <label>なまえ</label>
          <input type="text" name="name" [(ngModel)]="hoge" required>
        </div>
        <div>
          <label>port</label>
          <input type="number" name="port" ngModel placeholder="default: {{defaultServerPort}}">
          <button type="submit">GO</button>
        </div>
      </form>
    </div>
  </li>
</ul>
