<section>
  <h3>ゲームに参加</h3>
  <form #joinForm="ngForm" (ngSubmit)="onJoin(joinForm)" novalidate>
    <div>
      <label>IP:(port)</label>
      <input type="text" ngModel required name="address" #address="ngModel">
      <button type="submit">GO</button>
    </div>
  </form>
</section>

<section>
  <h3>ゲームをホスト</h3>
  <form #hostForm="ngForm" (ngSubmit)="onHost(hostForm)" novalidate>
    <div>
      <label>port</label>
      <input type="number" placeholder="default: {{port}}" ngModel required name="address" #address="ngModel">
      <button type="submit">GO</button>
    </div>
  </form>
</section>
